* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid #ddd;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
    display: flex;
    bottom: 90px;
}

.bar {
    height: 30px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .5;
    border-radius: 100px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    visibility: hidden;
    position: absolute;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}